/*ページ全体の背景の色*/
.background {
    background-color: #e6e6e6;
}

/*見出しの文字サイズ*/
.midasi {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px auto 10px;
    text-align: center;
}

.subTitle{
    font-size: 1.3rem; 
    font-weight:bold; 
    padding-bottom:.5em;
    text-align:center;
}

.internTitle {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: .5rem;
    text-align: left;
}

.textCollage{
    font-weight: bold; 
    font-size: 1rem;
    text-align: left;
    padding-left: 10px;
}

.image{
    width: 100%;
}

.study-font{
    font-family: "Century Gothic",sans-serif;
    font-size: 2em;
}

.widthSkill{
    width: 80%; 
    margin:0 auto
}

.ContentOfSkill{
    text-align: center; 
    font-weight:bold; 
    font-size:1.5rem
}

/*画面幅に充てるためのCSS*/
.Main-Screen-Width{
    width: 90%;
    margin: 0 auto;
    /*cursor: pointer;*/
    text-align: center;
}

.images {
    width: 95%;
    margin: 30px auto;
}

.works-images{
    width: 250px;
    height: 200px;
    margin: 30px auto;
}

/*セクションごとの余白*/
.under-section {
    padding-bottom: 10px;
}

.page {
    width: 60%;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 3rem;
}

.circle-icon {
    height: 80px;
    border-radius: 50%;
    border: 3px solid #333;
}

/*作品一覧用css*/
.Works-Content{
    border-radius: 15px;
    background-color: #fff;
    color: #333;
}

.Works-Create-Reason{
    text-align: left;

}

.WorksDescriptionContent{
    text-align: center;
}

/*worksのコンポーネントごとのcss*/
.name-comp{
    margin: 10px auto 0 auto;
    font-weight: bold;
    font-size: 1.3rem;
}

/*ナビゲーションの下の水平線*/
.hline {
    border-bottom: 2px gray;
}

.logo-font {
    font-family: cursive, serif, sans-serif;
    font-size: 1.5em;
}

/*文字サイズ指定*/

.font-nomal {
    font-size: 1em;
}

.font-large {
    font-size: 1.5em;
}

/*spanタグ指定*/
span{
    font-size: 1.3rem;
    font-weight: bold;
    /*color: #a9a9a9;*/
}


/*ヘッダー用スペース*/
.header-space {
    padding-top: 70px;
}

/*トップ画像*/
.top-img {
    object-fit: cover;
    width: 100%;
}

/*太字用css*/
.bold {
    font-weight: bold;
}

/*挿入画像用のサイズ制限*/
.all-img {
    width: 100%;
}

/*画面幅指定用css*/
.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-aboutus {
    width: 80%;
}

.item-margin {
    margin: 0 auto;
}

.padding-bottom {
    padding-bottom: 1em;
}

.padding-top {
    padding-top: 1em;
}

.item-center {
    text-align: center;
}

/*ページ最下部*/
.page-down {
    padding-bottom: 5em;
}

/*フッターデザイン*/
.footer {
    background-color: #888888;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Long Span InternShip CSS */
.long-span-internship {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.long-span-internship-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    /*text-decoration: underline;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.long-span-internship-background {
    background-color: #dcdcdc;
}

.summer-internship {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.summer-internship-background {
    background-color: #f5f5f5;
}

/* summer internship blog */

.internship-area {
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
}

.internship-title {
    padding: 4rem 0 2rem 0;
    text-align: center;
}

.internship-article {
    width: 70%;
    margin: 0 auto;
}

.internship-text {
    padding: 1rem 0 1rem 0;
}


/*========= レイアウトのためのCSS ===============*/

body {
    background: #eee;
}

h2,
p {
    text-align: center;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

@media screen and (max-width:1100px) {
    .area-qa {
        padding: 1em;
        height: 19em;
        background-color: #fff;
    }
}

@media screen and (max-width:915px) {
    .area-qa {
        padding: 1em;
        height: 20em;
        background-color: #fff;
    }
}

.mobile-ver {
    display: none;
}

.pc-ver {
    display: block;
}

.mobile-nav {
    display: none;
}

.pc-nav {
    display: block;
}

@media screen and (max-width:1025px) {
    .mobile-nav {
        display: block;
    }

    .pc-nav {
        display: none;
    }
}

/*-----------スマホ画面の時のcssデザイン----------*/
@media screen and (max-width:768px) {
    .mobile-ver {
        display: block;
    }

    .pc-ver {
        display: none;
    }

    .logo-font {
        font-size: 1em;
    }

    .header-space {
        padding-top: 50px;
    }

    .width-90 {
        width: 90%;
    }

    .width-aboutus {
        width: 90%;
    }

    .intro_schedule {
        background-color: #fff;
        width: 100%;
    }

    .area-padding {
        padding: 1em;
        height: 100px;
    }

    .area-title {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
    }

    .area-qa {
        padding: 1em;
        height: auto;
        background-color: #fff;
    }

    .width-access {
        width: 80%;
        margin: 0 auto;
    }

    .page {
        width: 80%;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 3rem;
    }
}